<!-- <h1 class="mx-auto my-auto">Welcome to your diary, {{name}}</h1> -->
<div style="margin: 100px;">
<div class="card text-center m-5">
    <!-- <img class="card-img" src="https://source.unsplash.com/featured/?happy" alt=""> -->
    <div class="card-header">
      A point to ponder upon.
    </div>
    <div class="card-body">
      <h5 class="card-title">Why write?</h5>
      <p class="card-text">Memories of a lifetime are lost with the passing days. As we get old, memories fade and are lost. A diary can help you overcome these limitations. Every day of your life in vivid descriptions right at a click, for you to remember and rejoice. </p>
      <a routerLink="./fill" class="btn btn-primary">Create an entry</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>

  <div class="card text-center m-5">
    <!-- <img class="card-img" src="https://source.unsplash.com/featured/?happy" alt=""> -->
    <div class="card-header">
      Another question you might have.
    </div>
   
    <div class="card-body">
      <h5 class="card-title">Why not just look to the present and forget the past?</h5>
      <p class="card-text">You might be correct as to assume that the past is over and done with, and it is immaterial to cry upon spilt milk. But as George Santayana once said- "Those who cannot learn from history are doomed to repeat it.". The past is what shapes us, bad or good, our past is our very own. It is only wise to rejoice the good and learn from our failures.</p>
      <a routerLink="./view" class="btn btn-primary">Read an entry</a>
    </div>
    <div class="card-footer text-muted">
      5 days ago
    </div>
  </div></div>