/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'appfont';
    src: url('assets/fonts/Fondamento-Regular.ttf') format("opentype");
  }
html, body { height: 100%; }
body { margin: 0; font-family:  "appfont", sans-serif!important;font-size: 18px!important; }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
